{% extends 'base.html' %}

{% block content %}

<h1>Create a Tag</h1>
<form action='/tags/new' method="POST">
    <label for="new-tag">Name</label>
    <input type="text" name="new-tag" placeholder="Enter a name for the tag">
    <button>Add</button>
</form>

{% for post in posts %}
<div>
  <input class="form-input"
         type="checkbox"
         value="{{ post.id }}"
         id="post_{{ post.id }}"
         name="posts">
  <label class="form-check-label" for="post_{{ post.id }}">
    {{ post.title }}
  </label>
</div>
{% endfor %}

<form action='/tags'>
    <button>Cancel</button>
</form>

{% endblock %}