{% extends 'base.html' %}

{% block content %}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>

    <p>
        <b>Tags:</b> 
        {% for tag in post.tags%}
        <a href="/tags/{{tag.id}}">{{tag.name}}</a>
        {% endfor %}
    </p>

    <form action='/users'>
        <button type="submit" id='cancel-button'>Cancel</button>
    </form>
   
    <form action='/posts/{{post.id}}/edit'>
        <button id='edit-button'>Edit</button>
    </form>
    <form action='/posts/{{post.id}}/delete' method="POST">
        <button id='Delete-button'>Delete</button>
    </form>
{% endblock %}