<!DOCTYPE html>

<html>
    <head>
        
        <title>Blogly</title>
        
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>{{user.full_name}}</h1>
        <img src= '{{user.image_url}}' alt="User Image">

        <form action='/users/{{user.id}}/edit'>
            <button>Edit</button>
        </form>

        <form action='/users/{{user.id}}/delete' method="POST">
            <button type='submit'>Delete</button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>